html{
  margin: 0;
  height: 100%;
}
body{
  height: 100%;
  background-image: linear-gradient(95deg, rgb(51, 51, 51) , rgb(83, 83, 83) , rgb(95, 95, 95));
  *{
    color: white;
    h1{
      font-size: 50px;
    }
    font-size: large;
  }
  justify-items: center;
}
.root{
  height: 100%;
  width: 100%;
  button{
    background-color: black;
    border: none;
    border-radius: 15px;
    padding: 5px 25px;
  }
  button:hover{
    background-color: rgb(34, 34, 34);
    transform: translateY(-5px) scale(1.1);
    transition: 0.5s;
  }
  input{

    width: 80%;
  }
  .menu-btn{
    position: sticky !important;
    justify-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px 40px;
    border-radius: 100px;
    display: grid;
    grid-template-columns: auto auto;
    height: 31px;
  }
    
  .add-div{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 15px;
    place-self: center;

    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px 40px;
    border-radius: 150px;
    top: calc(50% - 1000px/2 ) !important;
    input{
      color: black;
      text-align: center;
    }
  }
  .search-div{
    position: relative;
    place-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    gap: 20px;

    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px 40px;
    border-radius: 150px;
    input{
      color: black;
      text-align: center;
    }
  }
  .main{
    height: 100% ;
    display: grid;
    grid-auto-rows: 0 100%;
    
  }
}
